header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

    .image-wrapper {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.5;
            animation: zoom 25s;
        }
    }

    .banner {
        position: absolute;
        top: 30%;
        left: 15%;
    
        h1{
            color: #ffffff;
            font-size: 5.6rem;
            font-family: $fontPrimary;
            font-weight: 200;
            text-shadow: .32rem .32rem 2px rgba(0, 0, 0, 0.4);
            margin-bottom: 3.2rem;
            opacity: 0;
            animation: moveBanner 1s 0.5s forwards;
        }
        
        p {
            color: #ffffff;
            font-family: $fontSecondary;
            font-size: 3.2rem;
            text-shadow: .2rem .2rem rgba(0, 0, 0, 0.4);
            margin-bottom: 3.2rem;
            opacity: 0;
            animation: moveBanner 1s 0.7s forwards;
        }

        button {
            font-family: $fontAction;
            font-size: 1.92;
            color: #fff;
            background: $gradient;
            padding: 1.6rem 4.8rem;
            text-transform: uppercase;
            letter-spacing: .16rem;
            border-radius: 2px;
            box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
            cursor: pointer;
            opacity: 0;
            animation: moveBanner 1s 0.9s forwards;
        }
    }
    .hamburger {
        width: 3.2rem;
        height: 3.2rem;
        position: fixed;
        z-index: 100;
        top: 3.2rem;
        right: 3.2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        cursor: pointer;
        transition: all .4s ease-in-out;
    
        .line {
            width: 100%;
            height: .2rem;
            background-color: #fff;
            box-shadow: .1rem .1rem 1px rgba(0, 0, 0, .5);
            transition: all .4s ease-in-out;
        }
        span {
            position: absolute;
            left: 4.8rem;
            color: #fff;
            background: $gradient;
            width: 9.6rem;
            height: 3.2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font: 1.5rem $fontAction;
            border-radius: .2rem;
            box-shadow: .1rem .1rem 1px rgba(0, 0, 0, .5);
            z-index: 60;
            opacity: 0;
            transition: opacity .2s ease-in-out;
            pointer-events: none;

            &::before {
                content: '';
                position: absolute;
                border: .8rem solid transparent;
                border-right-color: $violet1;
                left: -1.6rem;
                
            }
        }

        &.show-menu {
            right: 25.6rem;
            
            .line {
                background-color: $violet1;
                transform-origin: .5rem;

                &:nth-of-type(1) {
                    transform: rotate(45deg);
                }
                &:nth-of-type(3) {
                    transform:rotate(-45deg);
                }
                &:nth-of-type(2) {
                    opacity: 0;
                }
            }
            &:hover {

                span {
                    opacity: 1;

                    &::before {
                        opacity: 1;  
                    }

                }
            }
        }

        
    }
    .sidebar {
        z-index: 50;
        width: 32rem;
        height: 100vh;
        background-color: #fff;
        position: fixed;
        top: 0;
        right: -32rem;
        transition: all .3s ease-in-out;
    
        &.show-menu {
            right: 0;
        }
    
        .menu {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
    
            &-item {
                text-align: center;
                margin-bottom: .8rem;
            }
            &-link {
                font-family: $fontAction;
                font-size: 3.2rem;
                color: $gris;
                transition: color .2s;
    
                &:hover {
                    color: $violet1;
                }
            }
        }
        .social-media {
            position: absolute;
            bottom: 3.2rem;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            
            i {
                color: $gris;
                font-size: 4rem;
                color: $violet2;
                transition: color .4s;
    
                &:hover {
                    color: $violet1;
                }
            }
        }
    }
}
